[2020-10-08 18:56] dantownsend opened #2 "Python 3.9 support"
Currently broken by pydantic - waiting for a fix.

[code]

[2020-10-09 06:49] dantownsend commented on #2
Was broken here: https://github.com/python/cpython/commit/653f420b53a3aa87316cef59de8d3f5d9e11deb4#diff-015978a768b517a38abbc0ecdea87f5a

Fix in progress: https://github.com/samuelcolvin/pydantic/pull/1844

[2021-01-03 21:08] dantownsend opened #11 "Be able to filter bulk DELETE and GET queries by a list of row IDs"
Currently, ``PiccoloCRUD`` (and hence ``FastAPIWrapper``) allow you to filter by the row ID, but you can't filter by a list of IDs.

For example:

[code]

This would be a very useful feature, and would make bulk deletes more efficient.

[2021-01-21 12:30] dantownsend opened #14 "Improve limit and offset in PiccoloCRUD"
Currently, the `__page` and `__page_size` query params aren't documented.

Also, `PiccoloCRUD` should have a `max_page_size` argument, to limit abuse of an endpoint.

If the `max_page_size` is exceeded, an error should be returned. A 403 feels most appropriate, with a body such as `The page size limit has been exceeded`.

[2021-01-21 12:53] dantownsend opened #15 "Implement cursor based pagination in PiccoloCRUD"
Currently, only offset based pagination is supported in PiccoloCRUD (using the `__page` and `__page_size` query params). There are issues with this, as outlined in this [article](https://slack.engineering/evolving-api-pagination-at-slack/).

Modify PiccoloCRUD so it accepts a `__cursor` GET parameter. The value will be the ID of a row for now, but encoded as string. Encoding it as a string gives m

[2021-01-21 12:54] dantownsend commented on #15
Related - https://github.com/piccolo-orm/piccolo/issues/47

[2021-02-01 10:16] sinisaos commented on #14
Hi Daniel
Do you want set `max_page_size` in general or in `PiccoloCRUD` init method so that end user can change that param. For general we can achive this with small code changes like this in crud `endpoints.py`.

[code]

If we want to change `max_page_size` in Piccolo CRUD init method we need to adjust CSV export and dynamic page size selector in `piccolo_admin` if end user set smaller `max_page

[2021-02-01 10:47] dantownsend commented on #14
@sinisaos I think just setting `max_page_size` in the constructor for `PiccoloCRUD` is OK - we could have it default to something quite large (say 1000).

The user should never be able to override this using URL params.

`create_admin` could also accept a `max_page_size` attribute, and pass it to any child `PiccoloCRUD` instances. We wouldn't be able to set specific limits per endpoint, but this i

[2021-02-01 12:46] sinisaos commented on #14
@dantownsend We can do this via constructor and make changes like you said, but if we set max_page_size as a class variable and set it to 1000 (like code example in above comment), we only need to make changes to `PiccoloCRUD` crud `endpoints.py` because the class variable will be accesible to all instances and we don't need to change anything else. CSV export will work because the limit is alread

[2021-02-01 14:57] dantownsend commented on #14
@sinisaos I think adding it to the constructor should be OK.

[code]
If the default is set to 1000, it shouldn't effect much of the existing code.

[2021-02-01 15:40] sinisaos commented on #14
@dantownsend It's OK if you don't override in instance with `max_size_page` in piccolo_admin` endpoints.py` like this:

[code]
and we need to change more files in `piccolo_admin` to make this work.

If `max_page_size` is set as a class variable we can't change it in `PiccoloCRUD` instance and CSV export (because the limit is already 1000) will work, and dynamic page size will work (because max lim

[2021-02-01 15:42] dantownsend commented on #14
@sinisaos Ah, I understand now! Sorry.

What you're saying, is don't make the maximum configurable at all. I think that works for a first version, and as you say, it means less changes to other code.

[2021-02-01 15:50] sinisaos commented on #14
@dantownsend Yes exactly that :). If you want I can make PR with this code changes that you can make proper look at this.

[2021-02-01 15:54] dantownsend commented on #14
@sinisaos That would be great - thanks!

[2021-02-01 16:22] sinisaos commented on #14
@dantownsend Done. Cheers.

[2021-02-01 18:43] #14 closed

[2021-02-03 22:46] dantownsend opened #23 "Fix coveralls integration in Github Actions"
When moving to GitHub Actions from Travis, coveralls had to be disabled as I couldn't get it to work.

It needs adding back.

[2021-02-04 07:08] sinisaos commented on #15
Hi Daniel
I’ve never encountered cursor pagination before, but it looks interesting to me. I played around with it a bit, and it seems to work if I didn’t miss the point. I changed a bit of code in PiccoloCRUD `endpoints.py`.
1. adding cursor model to `serializers.py`

[code]

2. adding cursor to `Param` class `cursor: str = ""`
3. adding cursor to `_split_params` method

[code]
4. adding cursor p

[2021-02-04 14:17] dantownsend commented on #15
@sinisaos Great job!

I haven't used cursor based pagination before, but I do know it's the recommended way as limit + offset isn't very performant in Postgres, and there are weird edge cases where you can miss rows, or get duplicate rows.

If you make a pull request, I'll have a play around. I'm interested to try it out! Thanks.

[2021-02-04 16:17] sinisaos commented on #15
@dantownsend Thank you. I'll do it later tonight.

[2021-03-02 19:44] jorng opened #28 "Add a license?"
Would you please be able to add a license to this repo? Although piccolo-orm/piccolo specifies an MIT license, there is no such licensing on this repo.

[2021-03-02 21:13] dantownsend commented on #28
Well spotted - I'm not sure why this repo didn't have one.

I've added it now.

[2021-03-02 21:13] #28 closed

[2021-06-27 13:08] heliumbrain opened #48 "Use Pydantic Json type for JSON or JSONB in create_pydantic_model"
Example table:
[code]

Currently, any JSON and JSONB fields from a Piccolo Table is being serialized as strings. It technically works, but parsing it as a string outputs this:

![Screenshot 2021-06-27 at 15 02 44](https://user-images.githubusercontent.com/1607668/123545539-cd83e880-d758-11eb-896e-d53f22fa3d73.png)

Setting `value_type = pydantic.Json` for JSON and JSONB fields makes it look a lot

[2021-06-27 13:19] heliumbrain commented on #48
Added a PR for this here: #49 - Not sure how to link them properly in Github.. Only maintainers can do that maybe? 😕

[2021-06-27 15:09] heliumbrain commented on #2
@dantownsend guessing this can be closed? Ptyhon 3.9 support was added in Pydantic 1.7 and piccolo API seems to work fine with 3.9 now

[2021-06-27 15:12] dantownsend commented on #2
@heliumbrain Yes, good point - just need to add the Python 3.9 classifier to setup.py.

[2021-06-27 16:19] #2 closed

[2021-06-30 20:37] heliumbrain commented on #48
PR merged, closing this

[2021-06-30 20:37] #48 closed

[2021-07-18 09:17] aminalaee opened #56 "Add scripts folder"
Following [this](https://github.com/piccolo-orm/piccolo/pull/133):

- Move all the scripts to the `scripts` folder
- Update github workflows to use the scripts

[2021-07-20 22:16] dantownsend opened #58 "Fix MyPy errors"
There are some outstanding MyPy errors in the codebase, meaning MyPy can't be enabled as part of the build pipeline.

[2021-07-20 22:17] #23 closed

[2021-07-20 22:17] #56 closed

[2021-08-05 15:49] satishdash commented on #15
Any updates on the implementation here.:)

[2021-08-05 18:40] sinisaos commented on #15
@satishdash All progress is at #34, but there has been no activity lately. If you have any code or ideas on how to improve it, feel free to contribute and make pull request.

[2021-08-05 19:53] dantownsend commented on #15
@satishdash Yeah, it has stalled a bit.

Cursor based pagination is really complex - @sinisaos did a great job of getting it to work, but I still struggle to wrap my head around it entirely! Here is the implementation:

https://github.com/piccolo-orm/piccolo_api/pull/34

The problem is it adds a lot of logic to `PiccoloCRUD`. What I'd like to do is somehow move this logic into a separate paginator

[2021-08-09 10:08] #58 closed

[2021-08-09 10:12] dantownsend opened #63 "Increase code coverage"
Now we have codecov integrated, it's easier to track code coverage.

There are some areas of the code base which require additional testing.

[2021-08-12 13:38] aminalaee commented on #63
@dantownsend Can this be closed?

[2021-08-12 13:48] dantownsend commented on #63
@aminalaee Yes, I can close it.

Looking at the coverage now, it's much better - thanks for that.

Only minor bits of coverage are missing now, and I can create separate issues for those.

[2021-08-12 13:48] #63 closed

[2021-08-12 13:49] dantownsend opened #69 "Add a unit test for session logout"
The code coverage was increased dramatically in this issue: https://github.com/piccolo-orm/piccolo_api/issues/63

One missing area is a test for the session logout endpoint - would be nice to add this at some point.

[2021-08-13 19:33] dantownsend commented on #69
Fixed by https://github.com/piccolo-orm/piccolo_api/pull/70

[2021-08-13 19:34] #69 closed

[2021-08-13 21:27] dantownsend opened #73 "Make Piccolo API work gracefully if asyncpg isn't installed"
Related to:

https://github.com/piccolo-orm/piccolo_api/pull/72

If asyncpg isn't installed, Piccolo API won't work:

https://github.com/piccolo-orm/piccolo_api/blob/4e4d55dc39b978f3d1a8f65b8e2974997b03b528/piccolo_api/crud/serializers.py#L9

As asyncpg is now an optional requirement in Piccolo, we need to work out a way of making Piccolo API handle it gracefully if asyncpg isn't installed.

[2021-08-22 17:05] dantownsend opened #75 "Create a decorator for wrapping views / endpoints in a database transaction"
https://github.com/piccolo-orm/piccolo/discussions/185

[2021-08-29 08:29] dantownsend opened #76 "Support nested model created with `create_pydantic_model`"
As suggested here:

https://github.com/piccolo-orm/piccolo/issues/202

It would be great if `create_pydantic_model` could generate nested models.

[code]

This would output something equivalent to this:

[code]

[2021-08-29 10:28] aminalaee commented on #76
@dantownsend This is cool, I just have a question, should `create_pydantic_model` now return a list of models? In case of nested models returning two?

[2021-08-29 10:39] dantownsend commented on #76
@aminalaee Yeah, it's a good point. I think it would just return a single model still. The child models would just be created internally by `create_pydantic_model`.

It's a bit ugly, but you could still access the sub models if you wanted them.

[code]

What do you think?

[2021-08-29 10:47] aminalaee commented on #76
@dantownsend  I have to  say I like `BandModel = create_pydantic_model(Band, nested=True)` better than previous ones.
Let me try it out.

[2021-08-29 11:05] dantownsend commented on #76
@aminalaee Great, thanks

[2021-08-30 09:43] #76 closed

[2021-09-01 15:55] dantownsend opened #79 "Overhaul Pydantic docs"
Piccolo API has great Pydantic support, but the docs are a bit hidden away under the 'CRUD' section.

It would be good to move them, so 'Serialisation' is a top level topic in the docs, and contains much more examples about how to use `create_pydantic_model`.

[2021-09-02 11:20] dantownsend opened #80 "Make `exclude_columns` work with `nested` for `create_pydantic_model`"
We have two great new features for `create_pydantic_model` (`exclude_columns` and `nested`).

I'd like to make sure that they work together. For example:

[code]

In which case the `Manager` sub model would omit it's `id` column.

[2021-09-05 15:21] wmshort opened #81 "Troubles with Session Auth"
I am struggling a bit with Piccolo's authentication systems. I have a FastAPI app and am wrapping it with Starlette's AuthenticationMiddleware, as hinted in the docs, with the joint SessionAuth and SecretTokenAuth providers. The secret token seems to be working alright; my API client won't get results without the correct header-cum-token. However whatever I do on the browser gives me "Auth failed

[2021-09-05 16:18] sinisaos commented on #81
@wmshort [Piccolo Admin](https://github.com/piccolo-orm/piccolo_admin/blob/master/piccolo_admin/endpoints.py) use SessionAuth. You can also try something like this.
[code]
I hope this helps.

[2021-09-05 16:36] wmshort commented on #81
Cool, thanks, I will tinker around with this! Maybe I am being daft, but how, in this example, do you hook up the ``auth_middleware`` to ``app``? And are these endpoints the equivalent of what's available from ``piccolo_api.session_auth.endpoints``?

Thanks again for your suggestions!

[2021-09-05 16:51] dantownsend commented on #81
@sinisaos Thanks for sharing that example.

Here's some code from one of my apps which might also be helpful:

[code]

You'll notice that there's basically two FastAPI apps - a root one, which contains anything which should be publicly accessible (such as the login endpoint) and a child app, which contains anything which should be protected by Session Auth.

[2021-09-05 17:05] sinisaos commented on #81
@wmshort Yes. You need endpoints from `piccolo_api.session_auth.endpoints`.

[2021-09-05 22:41] wmshort commented on #81
Thanks, both, this really helped! The key was thinking about them as distinct apps and separating out the different endpoints. The only sticky thing remaining is that the ``session_logout`` endpoint is giving me a "method not allowed" error, but everything else is running smoothly now.

[2021-09-06 04:46] sinisaos commented on #81
@wmshort This happens because `session_logout()` uses the HTTP POST method and you access it using GET.
If you try curl `curl -X POST --cookie "id=yourcookiesvalue" http://localhost:8000/logout/ (or your request.url)` you will see that you `Successfully logged out`. It's easier for me not to use `session_logout()` but a logout endpoint that I can access from `/docs` like in my previous example.
[c

[2021-09-06 06:06] dantownsend commented on #81
Yeah, it only supports POST. I had a look at the docs, and this isn't mentioned, so needs adding.

[2021-09-06 06:18] dantownsend commented on #81
If you've got a HTML template, you can put something like this in to logout:

[code]

[2021-09-07 06:15] dantownsend opened #82 "`session_logout` should render a logout button when receiving a GET request"
Based on this discussion:

https://github.com/piccolo-orm/piccolo_api/issues/81

The `session_logout` endpoint only works when you send a POST request.

We can modify this endpoint to return a simple logout button when a GET request is received (in a similar way to how `session_login` works). It will make `session_logout` easier to use out of the box.

[2021-09-07 06:56] wmshort commented on #81
Closing issue, as the last remaining question appears to be addressed by #82

[2021-09-07 06:56] #81 closed

[2021-09-07 07:14] dantownsend opened #83 "Add a complete session auth example to the docs"
It would be useful to show an app which has all of the session auth components working together (`session_login`, `session_logout` and `SessionsAuthBackend`).

Here's an example:

[code]

[2021-09-07 12:49] sinisaos commented on #83
@dantownsend Do you think of the whole app as in the [Piccolo examples](https://github.com/piccolo-orm/piccolo_examples)? If not your example from comment is perfect example of `SessionAuth` and that should be in docs.

[2021-09-07 13:03] dantownsend commented on #83
@sinisaos The example code here might be sufficient.

I was thinking of a new page in the docs, with this code in it.

<img width="570" alt="Screenshot 2021-09-07 at 13 59 21" src="https://user-images.githubusercontent.com/350976/132348953-27ae6940-9db2-485e-8ad3-d3ef4ccebe8c.png">

The example code is an abbreviated form of one of my own apps - I haven't actually tested it standalone, but it look

[2021-09-07 15:21] #82 closed

[2021-09-07 15:33] sinisaos commented on #83
@dantownsend I have a question. I don't know anything about Sphinx's embed fragments of files, but I created a Piccolo Task starter app (based on your example) with `SessionAuth` where openapi docs are private and the home page is public. Everything works great, but I don’t know if I need to push the app to my Github repo and then you can put a link in the Piccolo examples or what to do with it? T

[2021-09-07 15:43] dantownsend commented on #83
@sinisaos I think it would be nice to embed the code directly in the docs.

I've figured out how to embed entire Python files:

[code]

[2021-09-07 15:44] dantownsend commented on #83
If you wanted to push your code to a new repo, I don't mind linking to it from the ``piccolo_examples`` repo.

But I'd still like to embed an example in the Piccolo API docs.

[2021-09-07 15:44] dantownsend commented on #83
Thanks for checking the example code works.

[2021-09-07 16:42] sinisaos commented on #83
@dantownsend I made `examples` folder in SessionAuth directory in docs and then embed with
[code]
Result is:

![example](https://user-images.githubusercontent.com/30960668/132380349-56a8b44f-6fa0-4f91-9846-deb18a2a93d0.png)

Did you mean something like this or?

[2021-09-07 17:01] dantownsend commented on #83
@sinisaos That's right - but can we put the example in it's own page?

[2021-09-07 17:11] sinisaos commented on #83
@dantownsend Yes we can.
Index page

![index](https://user-images.githubusercontent.com/30960668/132384454-551a86ca-a0c9-48c4-a0a5-7414b913625b.png)

Full example page

![example](https://user-images.githubusercontent.com/30960668/132384522-4de25e48-9623-4012-9989-8608e74a6ef1.png)

[2021-09-07 17:12] dantownsend commented on #83
@sinisaos That's great, thanks

[2021-09-07 17:13] dantownsend commented on #83
If you open it as PR, I'll get it merged.

[2021-09-07 17:17] sinisaos commented on #83
@dantownsend I'll do it in a few minutes.

[2021-09-08 01:17] wmshort commented on #83
Excellent

[2021-09-08 15:13] dantownsend opened #87 "Add CSRF example"
Similar to what we did for Session Auth, maybe we can add a full example app?

[2021-09-08 15:13] dantownsend commented on #83
Fixed by https://github.com/piccolo-orm/piccolo_api/pull/86

[2021-09-08 15:13] #83 closed

[2021-09-10 13:15] sinisaos commented on #87
@dantownsend I don’t think we need this because the addition of `CSRFMiddleware` is very clearly explained in the docs. To use `CSRFMiddleware` we need only this.
[code]
or
[code]
Maybe you can put link to [SessionAuth full example](https://piccolo-api.readthedocs.io/en/latest/session_auth/example.html) to `CSRFMiddleware` docs because that example also use `CSRFMiddleware`

[2021-09-10 13:38] dantownsend commented on #87
I guess we could add an example of a HTML template, which adds the token as form value. Or an AJAX call which adds it to the headers. I think that's the bit which is missing at the moment.

[2021-09-10 16:58] sinisaos commented on #87
@dantownsend I didn't know you thought so. For form example you can ad this
[code]
and for AJAX
[code]

[2021-09-19 00:01] Bakz opened #89 "SessionsAuthBackend.authenticate honor allow_unauthenticated if not token"
Hello, sorry if this is a naive assertion, but shouldn't SessionsAuthBackend.authenticate return (AuthCredentials(scopes=[]), UnauthenticatedUser()) if not token but self.allow_unauthenticated == True?

[2021-09-19 09:44] dantownsend commented on #89
@Bakz you're correct - if `allow_unauthenticated` is `True`, and the middleware can't find a session for that user, it should return `(AuthCredentials(scopes=[]), UnauthenticatedUser())`.

See here:

https://github.com/piccolo-orm/piccolo_api/blob/6273f7b72204f7514d3ac566cd7980b25405c81d/piccolo_api/session_auth/middleware.py#L94

Does that help?

[2021-09-19 09:46] dantownsend commented on #89
Ah, I see you point now. It's here:

https://github.com/piccolo-orm/piccolo_api/blob/6273f7b72204f7514d3ac566cd7980b25405c81d/piccolo_api/session_auth/middleware.py#L75

You're correct - this looks like a bug, where it will deny them if they don't have a cookie.

[2021-09-19 15:35] dantownsend commented on #89
@Bakz I've released the fix - it's v0.25.1 on PyPI.

If it fixes your issue, I'll close this. Thanks.

[2021-09-19 15:44] dantownsend commented on #87
Fixed by https://github.com/piccolo-orm/piccolo_api/pull/88

[2021-09-19 15:45] #87 closed

[2021-09-19 17:20] Bakz commented on #89
@dantownsend saw that you also added the if not user_id case - all looks good now. Btw heard about you and your work on Talk Python. I'm loving piccolo - thank you for all your hard work!

[2021-09-19 18:46] dantownsend commented on #89
@Bakz Thanks for the kind words. If you find any other issues, or have any suggestions for improvements let me know!

[2021-09-27 17:51] dantownsend commented on #89
Fixed by https://github.com/piccolo-orm/piccolo_api/pull/90

[2021-09-27 17:51] #89 closed

[2021-09-27 18:04] dantownsend opened #92 "Add hooks to `session_login`"
When using the `session_login` endpoint, it would be nice to have hooks (basically callback functions) which are called at different parts of the verification process.

There are many situations where this would be valuable. Here are some examples:

 1. You only want to let the user login if they have verified their email address.
 2. After the user logs in, you want to record this in an external

[2021-10-13 19:28] dantownsend opened #93 "Support Python 3.10"
Now that Python 3.10 has been released, we need to check if Piccolo API works with it, and update the GitHub actions accordingly.

This PR from the main Piccolo repo is a good example of what's required:

https://github.com/piccolo-orm/piccolo/pull/304

[2021-10-19 08:33] dantownsend commented on #80
@sinisaos Yeah, it's unfortunate. Not an urgent issue, but would be nice to have.

[2021-10-19 11:48] sinisaos commented on #79
@dantownsend I'll make PR for Piccolo and Piccolo API to change docs.

[2021-10-24 11:35] dantownsend opened #97 "Be able to request a subset of columns from PiccoloCRUD's GET endpoint"
For example:

[code]

Would return:

[code]

This is generally useful, but would be great for Piccolo Admin too, as when a user uses a ``TableConfig`` to specify that the list page should only show a subset of columns, we aren't over fetching data.

[2021-11-08 06:54] sinisaos commented on #11
@dantownsend What do you think of this idea?

[2021-11-11 07:51] sinisaos commented on #79
@dantownsend Can you please close this issue because it is done in main `Piccolo ORM` repo.

[2021-11-11 07:53] dantownsend commented on #79
@sinisaos Yep - good point

[2021-11-11 07:53] #79 closed

[2021-11-11 07:55] sinisaos commented on #93
@dantownsend Can you please close this issue because it is done.

[2021-11-11 07:57] dantownsend commented on #93
Done

[2021-11-11 07:57] #93 closed

[2021-11-11 08:28] dantownsend opened #104 "Add a new operator type of 'null'"
There's a limitation at the moment with filtering via `PiccoloCRUD` - you can't specify 'null' for some column types.

Take this as an example:

<img width="483" alt="Screenshot 2021-11-11 at 08 25 13" src="https://user-images.githubusercontent.com/350976/141263700-4b69098d-ad38-4de3-b3ef-f88438b595d3.png">

The user can't type in 'null'. In Piccolo Admin, a solution is to add 'null' as an option

[2021-11-11 17:20] trondhindenes opened #106 "create_pydantic_model on models containg Enums seems to break fastapi openapi"
Given a piccolo model containing an enum:

[code]

...and using `create_pydantic_model` to generate a dynamic pydantic class:
[code]
..and then using that as a fastapi response model:
[code]
Seems to break fastapi's openapi spec auto-generation:
[code]

If I exclude the enum field, the problem goes away:
[code]

I'm pretty sure fastapi is able to deal with regular pydantic models including enums,

[2021-11-11 17:22] #106 closed

[2021-11-12 11:33] dantownsend commented on #97
@wmshort This feature is pretty much done now, except I'm not sure on the naming of the parameter.

What do you think is most suitable? `__fields`, `__columns`, `__visible_fields`?

[2021-11-12 20:00] wmshort commented on #97
Personally I find 'fields' the most intuitive but any of these will be clear enough. Glad this has come together. Nice!

[2021-11-12 21:22] dantownsend commented on #97
@wmshort Thanks - naming stuff is hard! It's good to have a sanity check.

[2021-11-15 13:00] sinisaos commented on #104
@dantownsend Did you mean something like this?
[code]
and then in Piccolo Admin

[code]

[2021-11-15 13:02] dantownsend commented on #104
@sinisaos Yes, that's right.

We just need to check on the front end if the field is nullable, and if so we show the 'nullable' option in the dropdown.

[2021-11-15 13:30] sinisaos commented on #104
@dantownsend OK. I'll try to do it.

[2021-11-17 06:14] sinisaos commented on #97
@dantownsend Can you please close this issue because it's done with latest changes.

[2021-11-17 06:17] sinisaos commented on #80
@dantownsend Can you please close this issue because it's done with latest changes.

[2021-11-17 09:34] dantownsend commented on #80
@sinisaos Yep, good point. Fixed by https://github.com/piccolo-orm/piccolo_api/pull/98

[2021-11-17 09:34] #80 closed

[2021-11-17 09:35] dantownsend commented on #97
Fixed by https://github.com/piccolo-orm/piccolo_api/pull/98

[2021-11-17 09:35] #97 closed

[2021-11-30 00:59] gmos opened #109 "No CRUD generation support for ARRAY types."
At version 0.29.0 there seems to be no support for ARRAY types in the CRUD generation.
Code is generated, but an ARRAY of VARCHAR comes out as a single Varchar, and the field cannot be properly used.

In the Piccolo Admin the  Arrays of Varchar are handled ok.   Are there already plans to support Array types in CRUD?

[2021-11-30 10:16] dantownsend opened #110 "Add a new attribute to `PiccoloCRUD`'s schema called `fields`"
We now have the powerful `visible_fields` filter in `PiccoloCRUD`.

It would be nice if a consumer of the API could visit the schema endpoint, and see which fields are available (this would include fields in related tables).

For example:

[code]

So they can know which fields they can include in the GET param:

[code]

[2021-11-30 10:18] dantownsend opened #111 "Make the `__visible_fields` fields work on the GET detail endpoint"
We added the `__visible_fields` filter to `PiccoloCRUD` - but it only works on the bulk GET endpoint, not the detail endpoint.

[code]

[2021-12-02 06:25] sinisaos commented on #111
@dantownsend We can make this to work with these two changes. We need to change `_pydantic_model_output` to this
[code]
and then we need to change `get_single` to this
[code]
If you agree with these changes I can do PR.

[2021-12-02 09:39] dantownsend commented on #111
@sinisaos Yes, that looks good - thanks.

It's probably worth moving his logic out into a separate method:

https://github.com/piccolo-orm/piccolo_api/blob/e4eb74c9b0d8db961287fe9ffc37cb4576f4824c/piccolo_api/crud/endpoints.py#L580-L600

So we can use it in the root and detail endpoints without repeating ourselves.

[2021-12-02 09:42] dantownsend commented on #111
Hmmm, actually it might not be so easy to move that logic into a separate method. Don't worry about that for now.

[2021-12-02 10:07] dantownsend commented on #109
@gmos Thanks for reporting this.

``PiccoloCRUD`` should support arrays - there could be a bug somewhere.

In the example below, the `years_nominated` field is an array. The API should render it like a list.

<img width="457" alt="Screenshot 2021-12-02 at 10 05 43" src="https://user-images.githubusercontent.com/350976/144400846-51c6be7b-4b7e-4cf7-b88b-63c9e40eeea8.png">

Is the problem when trying

[2021-12-02 14:08] sinisaos commented on #109
@gmos @dantownsend `POST` also work as expected.

![post](https://user-images.githubusercontent.com/30960668/144437430-9fad8e92-0aeb-47fc-831d-3f2833833e39.png)

[2021-12-02 14:46] dantownsend commented on #109
@sinisaos Thanks for checking that.

[2021-12-02 15:36] gmos commented on #109
Screenshots are from the swagger .../docs page.  I expanded the root GET.

Parameters docs:
![image](https://user-images.githubusercontent.com/1526544/144451030-4b712d0b-b760-4171-bb69-da1cf4bde8fe.png)
Here it goes wrong.  No array structure to be found.  The sensors field is depicted as a simple Varchar.

And this is when I make the actual GET call:
![image](https://user-images.githubusercontent

[2021-12-02 15:37] dantownsend commented on #109
@gmos Cool, thanks - that's really useful. We'll investigate.

[2021-12-02 16:09] gmos commented on #109
Here is the column definition from the Table subclass:
[code]
And here the automatic creation of the lot.
[code]

Side question: why do I need a cast to get rid of the type warning?  AM I doing something wrong assigning a PiccoloCRUD instance to the FastAPIwrapper?

[2021-12-02 16:13] dantownsend commented on #109
@gmos The type error might be because you're using `FastAPIWrapper` with a `APIRouter` instance, rather than a `FastAPI` instance.

We probably just need to update this type annotation to be `t.Union[FastAPI, APIRouter]`:

https://github.com/piccolo-orm/piccolo_api/blob/e4eb74c9b0d8db961287fe9ffc37cb4576f4824c/piccolo_api/fastapi/endpoints.py#L94

[2021-12-02 16:33] sinisaos commented on #109
@dantownsend Problem is when you use `openapi` request url is `http://localhost:8000/posts/?tags=tag` (which raise Pydantic ValidationError `value is not a valid list (type=type_error.list)`) and it should be `http://localhost:8000/posts/?tags[]=tag` like in Piccolo Admin or if you pass request url directly in browser to get correct result.

[2021-12-02 16:38] dantownsend commented on #109
@sinisaos Well remembered - I forgot about that.

I wonder if we can add a custom validator to the Pydantic model:

https://pydantic-docs.helpmanual.io/usage/validators/

[2021-12-04 08:37] dantownsend commented on #111
Fixed by https://github.com/piccolo-orm/piccolo_api/pull/112

[2021-12-04 08:37] #111 closed

[2021-12-09 07:27] sinisaos commented on #109
@dantownsend I think I found a problem in `openapi` filters. We need to use `ModeField.outer_type_` https://github.com/piccolo-orm/piccolo_api/blob/8b66ff3665f506a4eeeb3cd6259ff24cdea5beb9/piccolo_api/fastapi/endpoints.py#L401 because `ModeField.type_` shows the wrong type (class `int` or `str` insted `List[int]` or `List[str]`).
We need to change the `line 401` to this `type_ = _field.outer_type_

[2021-12-09 08:37] dantownsend commented on #109
@sinisaos That's some good investigative work - thanks.

When we make this change we'll also have to update Piccolo Admin at the same time.

[2021-12-09 08:39] dantownsend commented on #109
@sinisaos Ah, just realised you managed to make it compatible with the current Piccolo Admin, great.

[2021-12-09 08:59] sinisaos commented on #109
@dantownsend Yes, Piccolo Admin works. If you want I can do PR.

[2021-12-09 09:00] dantownsend commented on #109
@sinisaos That would be great, thanks

[2021-12-09 10:44] dantownsend commented on #109
I've released it to PyPI now - version 0.29.2.

Seems to fix the problem. Thanks both.

[2021-12-09 10:44] #109 closed

[2021-12-09 22:22] dantownsend commented on #110
Fixed by https://github.com/piccolo-orm/piccolo_api/pull/114

[2021-12-21 11:31] dantownsend opened #121 "Replace `read_only` parameter with a list of HTTP methods"
`PiccoloCRUD` has an option called `read_only`.

I think it's worth phasing this out in favour of an argument called `methods`.

It could be something like:

[code]

If `read_only` is provides in kwargs, then we can just map that to `methods=[HTTP.get]` and provide a deprecation warning.

It means you have more fine grained control over which methods to expose:

[code]

[2021-12-21 13:29] sinisaos commented on #121
@dantownsend I don't think we should change this because `read_only` is a good, safe and simple mechanism (if we pass `False` to `read_only` only the `GET` method is allowed, otherwise all methods are allowed) to show or hide certain endpoints. The documentation around that is also good. Sorry if I miss the point.

[2021-12-21 14:07] dantownsend commented on #121
@sinisaos I can imagine use cases where you just want to use part of `PiccoloCRUD`. At the moment, there's just the option for `GET`, or everything.

I agree that `read_only` is very convenient and easy to understand, but it doesn't support the middle ground where maybe you want `GET` and `POST,` but not `PATCH`, `PUT` and `DELETE`.

I don't think it's high priority, but maybe let's keep it open,

[2021-12-21 14:16] sinisaos commented on #121
@dantownsend You're right. Probably most users want to use all `CRUD` methods, but yes, there may be some edge cases where some users only wants certain methods. Sorry, I didn't think of this that way. Thank you for the explanation. Cheers.

[2022-01-03 21:48] trondhindenes opened #126 "PATCH endpoint behaves differently"
Noticing that the response from PATH seems to be a text-type instead of json-type response. I'm noticing in the code that the PATH response uses `JSONResponse` instead of the `CustomJSONResponse` used by many other endpoints.
As far as I can see, functions either use json response with a dict input:
[code]
or `CustomJSONResponse` with a string input:
[code]

the PATCH response is the only one usin

[2022-01-03 22:01] dantownsend commented on #126
@trondhindenes Yeah, it should be `CustomJSONResponse`.

`JSONResponse` uses `json.dumps` to convert the Python dict into a JSON string, and it doesn't handle some types. Pydantic's JSON conversion covers way more types, so I tend to use this instead with `CustomJSONResponse`.

So yeah, it's a bug - well spotted.

[2022-01-03 22:06] trondhindenes commented on #126
yup, I assumed something like that. Should be fairly easy to fix, I can take a stab at it.

[2022-01-03 22:11] dantownsend commented on #126
@trondhindenes Great, thanks

[2022-01-03 22:25] #126 closed

[2022-01-08 15:01] wmshort opened #129 "KeyError when creating Pydantic models?"
@dantownsend I've just upgraded my infrastructure to the latest version of FastAPI and I'm now getting a strange error when trying to view the Swagger UI. In the first instance FastAPI is giving me a "failed to load API definition" which is a problem with retrieving the OpenAPI JSON spec. Digging a bit more into the problem however reveals that something is going on when creating the Pydantic resp

[2022-01-08 17:02] dantownsend commented on #129
@wmshort I know that Pydantic was recently updated, which might be the cause of the issue.

Have you tried using an explicit `model_name` with `create_pydantic_model`? I've encountered an issue before with FastAPI and Pydantic which was solved by this.

[code]

It's a shot in the dark, but might help.

I'll try and replicate the issue.

[2022-01-08 17:05] wmshort commented on #129
I had the same thought, but in fact I was doing that already on the models, so it couldn't have been causing the problems. I did just see somewhere else that having an Enum of the same name on two models might cause the issue! I do have this on my models, so I'm going to try this change. Will report back.

[2022-01-08 19:30] sinisaos commented on #129
@wmshort I can replicate your `KeyError` problem only if I do not use the explicit `model_name` with `create_pydantic_model`. If I use `model_name` everything is fine. `FastAPIWrapper` works fine. Both Python3.7 and Python3.8 with latest `FastAPI (v0.71.0)`, `Pydantic (v1.9.0)` and latest `Piccolo`. Can you show us your schema from tables so we can try it out?

[2022-01-08 22:44] dantownsend commented on #129
@sinisaos Thanks for taking a look.

I tried updating my apps to the latest FastAPI, and it seems OK. So the bug must be quite subtle.

@wmshort The only other things I can think of at the moment are:

 * Make sure `model_name` matches the variable name. So `MyModel = create_pydantic_model(SomeTable, model_name="MyModel")`.
 * Make sure `create_pydantic_model` is called within the global scope, an

[2022-01-08 23:10] sinisaos commented on #129
@dantownsend William sent me his schema and the only thing I noticed is that in Python 3.7 (which William uses as seen from the error logs) we **MUST** use `model_name` because `post` and `put` routes are a problem (they use `SomeModelIn` and `SomeModelOut` if we write endpoints by ourselves) . In Python 3.8 we don't have to use `model_name` and everything work fine. I don't know if it will solve

[2022-01-09 08:57] dantownsend commented on #129
@sinisaos OK, thanks for checking. If it works for Python 3.8 and above, that's definitely helpful to know.

[2022-01-09 09:39] wmshort commented on #129
Thanks, both. All of these conditions are true already, apart from the Python version. I'll give that a try. Otherwise it's probably some corner case and I'll have to experiment some with ``model_name``. Is there any chance it has to do with ``nested`` and some naming clash there?

[2022-01-09 10:24] dantownsend commented on #129
@wmshort Yes, nested could be the cause.

[2022-01-09 14:15] wmshort commented on #129
After a little more experimentation I've narrowed the problem down to two tables that both have _two_ ForeignKey fields referencing the same table. (Though in each case, the referenced table is different). It doesn't appear to be ``nested`` per se as certain nested tables that do not have the 'two FKs pointing to the same table' issue work perfectly well. So the problem actually seems to be relate

[2022-01-10 13:34] #129 closed

[2022-01-27 12:05] dantownsend opened #135 "Add screen grab of Swagger docs to `FastAPIWrapper` page"
Having a screen grab showing the generated Swagger docs would be nice on this page:

https://piccolo-api.readthedocs.io/en/latest/fastapi/index.html

The FastAPIWrapper / PiccoloCRUD combo is one of the most powerful things in the Piccolo ecosystem, and a screen grab will make it clearer the functionality it gives you.

<img width="755" alt="Screenshot 2022-01-27 at 12 05 03" src="https://user-ima

[2022-04-19 08:57] dantownsend opened #139 "Add signup endpoint"
We have `session_login` and `session_logout` endpoints, which helps with quickly prototyping an app.

It would be great to have a `session_signup` endpoint too.

It would look very similar to the login form, except with username / email / password / confirm password fields:

<img width="575" alt="Screenshot 2022-04-19 at 19 11 03" src="https://user-images.githubusercontent.com/350976/164068599-7df

[2022-04-19 18:13] dantownsend opened #140 "Add CSS variables to `session_login` and `session_logout` endpoints"
We have out of of the box [login / logout endpoints](https://piccolo-api.readthedocs.io/en/latest/session_auth/endpoints.html), which render nice templates:

<img width="575" alt="Screenshot 2022-04-19 at 19 11 03" src="https://user-images.githubusercontent.com/350976/164068631-21c1983d-5f1f-4c22-b7db-d92a367d6c27.png">

The current approach to customising it is to create an entirely new template

[2022-04-19 19:58] sinisaos commented on #139
@dantownsend I was thinking the same thing yesterday and it would be useful. Can I try implement this? My only question is how deep should we go with email and password validation without an external library. Is the html email field enough and is the 6-character password long enough? Or should we go deeper with regular expression?

[2022-04-19 20:19] dantownsend commented on #139
@sinisaos Thanks, it would great if you could take a look. Just a simple regex should be OK for email validation. Even if the first version is very simple, it's still useful. I think we can add hooks at some point, so users can add additional logic for password and email validation.

[2022-04-20 07:20] sinisaos commented on #139
@dantownsend I will make PR during the day that you can see code changes. We will drop a little bit in coverage because multiple lines like [this](https://github.com/piccolo-orm/piccolo_api/blob/6f656a9048d482419efac329be888bdf45f8c136/piccolo_api/session_auth/endpoints.py#L182 ) one used to render errors in the HTML template. I think it's not a big deal.

[2022-06-03 20:37] #92 closed

[2022-06-04 07:58] dantownsend commented on #139
Implemented in https://github.com/piccolo-orm/piccolo_api/pull/141

[2022-06-04 07:58] #139 closed

[2022-06-04 08:01] dantownsend opened #143 "Add CAPTCHA support"
Some of the endpoints would benefit from CAPTCHAs for bot protection - e.g. login and register.

[2022-06-05 09:44] #143 closed

[2022-06-05 16:24] dantownsend opened #147 "Add translations for `session_login`, `session_logout`, and `register` endpoints"
A simple dictionary which the user can define, which maps the English word / phrase to their local language.

For example:

[code]

The only option at the moment is to create your own template. This is definitely easier.

[2022-06-05 16:27] #140 closed

[2022-06-17 20:55] dantownsend opened #150 "Documentation improvements"
Now that Piccolo API has a fairly broad set of features, it's important to improve upon the documentation.

I think the following needs adding:

- [x] A 'basics' page - explaining how ASGI middleware works
- [x] Make sure all of the examples are easy to understand
- [x] Improve JWT and Token Auth docs - they don't document the endpoints properly

[2022-06-17 21:00] dantownsend opened #151 "Add hooks to change password endpoint"
Just like we've done with other endpoints. There are many potential use cases:

* If someone keeps getting their password wrong, we may want to log it
* When someone's password is successfully changed, we might want to send an email to that user
* We might want to do some custom validation on the password

[2022-06-21 17:38] dantownsend opened #156 "Add `read_only` modes to `register` and `create_user` endpoints"
Piccolo Admin has a read only mode, which is useful when demoing it online.

This PR updates the `register` and `create_user` endpoints to have a read only mode, because we're going to use them in Piccolo Admin.

https://github.com/piccolo-orm/piccolo_admin/pull/168

[2022-06-22 14:43] #156 closed

[2022-07-12 05:39] dantownsend opened #162 "Add `post_save` hook to `PiccoloCRUD`"
PiccoloCRUD currently has hooks like `pre_save`, which is used to modify the data before insertion into the database. We should add a `post_save` too, which is run after insertion into the database. It can be used for logging, sending an email etc.

[2022-07-22 11:05] sinisaos opened #163 "Small bug"
I find a small bug. After the last changes in Piccolo ORM `Table.__init__` `ignore_missing` argument is now `_ignore_missing` and we have to change [this line ](https://github.com/piccolo-orm/piccolo_api/blob/af7043b064081343c9e46eaef5750896edf15c04/piccolo_api/crud/endpoints.py#L850)  to `row = self.table(_ignore_missing=True)` otherwise we get 500 Internal Server Error from `get_new` method. If

[2022-07-22 11:10] dantownsend commented on #163
Yes - if you could create a PR that would be great, thanks!

I didn't realise we were using `ignore_missing` in Piccolo API. I try and avoid breaking changes, it's my mistake.

[2022-07-22 11:53] #163 closed

[2022-07-24 17:48] Akkarine opened #165 "How one can use custom `user` model with `Session Auth` app?"
I want to create blockchain backend app, based on piccolo. So I need custom `User` model (generally, without password field). As suggested in [docs](https://piccolo-orm.readthedocs.io/en/latest/piccolo/authentication/baseuser.html#extending-baseuser), I must implement custom user app. But I also want to use session mechanism.

BTW, Great project! I've struggled with fastapi-sqlalchemy stack and it

[2022-07-24 21:01] dantownsend commented on #165
Thanks for the kind words.

I think you need to override the [login method](https://github.com/piccolo-orm/piccolo/blob/0c44bb22be451e27318ddc2594e7e5a775494f80/piccolo/apps/user/tables.py#L184).

For example:

[code]

[2022-07-25 04:47] Akkarine commented on #165
Thank you for answer.

But what if I don't need at `password` field at all? Like I will have only OpenID authorization? How can I remove some fields?
I mean, what if `BaseUser` would be just empty class (or just with id Field, needed for sessions), that I can rewrite it in main app, so sessions could accept also custom `User` model?

[2022-07-25 05:51] sinisaos commented on #165
@Akkarine The main problem is that `BaseUser` requires fields username and password ([create_user()](https://github.com/piccolo-orm/piccolo/blob/master/piccolo/apps/user/tables.py#L244) method) and session auth depends on `BaseUser`. You can try [this](https://github.com/piccolo-orm/piccolo/discussions/440).This basically saves the Google user as a Piccolo `BaseUser`, and later you can use it as a

[2022-07-25 06:51] Akkarine commented on #165
Thank you, @sinisaos , I had similar ideas, but thought, maybe this (customizable `User` class) could be point of improvement for piccolo.

[2022-08-08 16:20] dantownsend opened #169 "Add media support to `PiccoloCRUD`"
It would be good if we modified `PiccoloCRUD`, so it could accept a `media_storage` argument (like `create_admin` does in Piccolo Admin).

[code]

We could then add a new GET parameter called something like `__media_urls`, which then auto adds the URL to the response for accessing the media.

[code]

Once this is in place, we can refactor Piccolo Admin slightly, so it passes the `media_storage` ar

[2022-08-09 07:19] northpowered commented on #165
@Akkarine if u are interested in combining session auth + custom user model, u can try smth like this:
[Session Model and logic](https://github.com/northpowered/fastapi-boilerplate/blob/master/accounting/authentication/models.py)
[User model and login method](https://github.com/northpowered/fastapi-boilerplate/blob/master/accounting/users/models.py)
[Using this in Piccolo Admin GUI](https://github

[2022-08-18 10:38] dantownsend opened #175 "Support Cleaning files for Array type column"
### Discussed in https://github.com/piccolo-orm/piccolo_api/discussions/174

<div type='discussions-op-text'>

<sup>Originally posted by **sumitsharansatsangi** August 18, 2022</sup>
[code]
doesn't support for `Array` column type.

**Received following error :**
[code]

[2022-08-18 11:10] #175 closed

[2022-08-27 12:59] dantownsend opened #180 "Add link to source code from docs"
The approach is basically the same as this:

https://github.com/piccolo-orm/piccolo/pull/601/

[2022-08-29 20:40] dantownsend opened #181 "Fix Sphinx warning about missing blank line"
We're missing a blank link before `:param`.

https://github.com/piccolo-orm/piccolo_api/blob/9d1aa35502cafd4614f0184d26c6707bed3dbf7e/piccolo_api/media/base.py#L203-L205

[2022-08-29 20:58] #181 closed

[2022-08-30 12:37] gnat opened #183 "CockroachDB always uses Timestamptz (at UTC) as TImestamp, confuses migrator."
See: https://www.cockroachlabs.com/docs/stable/timestamp.html

Cockroach always uses `Timestamptz` (set to +00:00) when `Timestamp` is specified. This is confusing to piccolo migrations.

[code]

Suggestions? Too new to Piccolo to know what course of action to take in order to make this work smoothly.

Otherwise Cockroach seems to work fairly flawlessly with Piccolo, because of asyncpg.

[2022-08-30 13:23] dantownsend commented on #183
The default for a `Timestamp` column is this ([from here](https://github.com/piccolo-orm/piccolo/blob/ed93feb85050895cc54e7db9650eddc69ab94fa0/piccolo/columns/defaults/timestamp.py#L42-L52)):

[code]

You can see that we use `current_timestamp`. What we should probably have instead is `current_timestamp::timestamp`, as `current_timestamp` includes the timezone.

It seems like CockroachDB is slight

[2022-08-30 13:27] gnat commented on #183
Thanks for the quick reply! @dantownsend You rock!

Might as well if it's not to big of a deal. Every little bit helps to get closer to friction-free Cockroach DB support. Cockroach Labs really needs to be promoting an async ORM and I'd love it to be piccolo.

[2022-08-30 13:44] dantownsend commented on #183
I've updated the `piccolo_examples` repo. If you pull the latest, and try running the migration, hopefully it'll work.

Yeah, I really need to dig into CockroachDB more - it should really have first class support from Piccolo. The first step is getting the tests / CI running with it.

[2022-08-30 14:22] gnat commented on #183
Btw, here's a quickstart if you wanted to run some tests for yourself:

* Download/extract (single binary): https://binaries.cockroachdb.com/cockroach-v22.1.6.linux-amd64.tgz
* Start Cockroach: `./cockroach start-single-node --insecure --store=node1 --listen-addr=localhost:26257 --http-addr=localhost:8080 --background`
* Enter SQL client: `./cockroach sql --insecure`
  * Can `create database ...;`

[2022-08-30 14:37] gnat commented on #183
Here's the changeset that worked for me:

https://github.com/piccolo-orm/piccolo/blob/master/piccolo/columns/defaults/timestamp.py#L24
`return f"CURRENT_TIMESTAMP::timestamp + INTERVAL '{interval_string}'"`

https://github.com/piccolo-orm/piccolo/blob/master/piccolo/columns/defaults/timestamp.py#L45
`return "current_timestamp::timestamp"`

https://github.com/piccolo-orm/piccolo/blob/master/piccolo

[2022-08-30 14:48] gnat commented on #183
piccolo-admin running under Cockroach DB.

![image](https://user-images.githubusercontent.com/24665/187468447-584b47d5-4e9f-40d7-9f6f-20cef6123ca3.png)

[2022-08-30 14:55] sinisaos commented on #183
@gnat This is great. Thanks

[2022-09-01 19:20] dantownsend opened #184 "Fix bug with `Email` columns and `PiccoloCRUD.get_new`"
As reported here:

https://github.com/piccolo-orm/piccolo/discussions/606

`PiccoloCRUD` is what powers Piccolo Admin. When someone wants to create a new row, we call the 'new' endpoint. For example:

[code]

This returns the default values for the new row.  The problem is with email columns - if the default value is `''`, then it's not a valid email, so Pydantic won't serialise it, and we get a 5

[2022-09-01 19:57] #184 closed

[2022-09-01 22:18] dantownsend opened #186 "`PiccoloCRUD` should handle unique exceptions better"
Related to https://github.com/piccolo-orm/piccolo_admin/issues/167

[2022-09-02 08:49] #186 closed

[2022-09-02 20:58] #180 closed

[2022-09-22 06:41] sinisaos commented on #15
@dantownsend This is done in [separate package](https://github.com/piccolo-orm/piccolo_cursor_pagination). You can close this issue.

[2022-09-26 07:15] 56907dzq opened #189 ""Unable to split hashed password""
I use piccolo-admin,when change user's active key to false,the password was set to "".
When the user login again,will raise internal server error by the reason of title.
Can add something to  reduce this?

[2022-09-26 07:39] sinisaos commented on #189
@56907dzq Yes, you're right, it's not working as it should right now. Here's a [PR](https://github.com/piccolo-orm/piccolo_api/pull/158) and this is code https://github.com/piccolo-orm/piccolo_api/blob/b643e9519be8c92a4e27c82b17d234d97a8bd6b0/piccolo_api/crud/endpoints.py#L1044-L1056
 that should fix it, but somehow it's staled.

[2022-09-26 20:29] dantownsend commented on #189
Yeah, I'll get that fix merged in.

[2022-09-26 21:33] dantownsend opened #192 "Fix MyPy errors with latest FastAPI version"
The latest version of FastAPI creates a lot of MyPy errors.

For now I've version pinned FastAPI for MyPy:

https://github.com/piccolo-orm/piccolo_api/blob/25db5276fb99ea6a4c30791fee48b4515d27cf1d/requirements/dev-requirements.txt#L8-L9

We need to remove this line, and fix the MyPy errors.

[2022-09-26 21:38] dantownsend commented on #189
@56907dzq This should be fixed now in `piccolo_api==0.48.0`. Thanks for reporting this issue.

[2022-09-27 17:51] dantownsend commented on #192
Fixed by https://github.com/piccolo-orm/piccolo_api/pull/193

[2022-09-27 17:51] #192 closed

[2022-09-30 05:48] 56907dzq commented on #189
It's my pleasure

[2022-09-30 05:48] #189 closed

[2022-10-18 17:48] dantownsend opened #196 "Add type annotation for `id` to `SessionsBase`"
We just need to modify it to this:

[code]

[2022-10-18 18:14] #196 closed

[2022-10-23 20:44] dantownsend opened #198 "Update `logging.getLogger()` to use `__name__` instead of `__file__`"
We need to do the same for the Piccolo API code base.

See this issue for more info:

https://github.com/piccolo-orm/piccolo/issues/653

[2022-10-24 03:54] VishMaster17 commented on #198
Hi @dantownsend , I'd like to take this up. Kindly assign me.

[2022-10-24 04:55] dantownsend commented on #198
@VishMaster17 Cool, thanks - I've assigned you.

[2022-10-24 05:24] dantownsend commented on #198
Fixed be https://github.com/piccolo-orm/piccolo_api/pull/199

[2022-10-24 05:24] #198 closed

[2022-11-15 11:42] dantownsend opened #202 "Support async validator functions"
Currently, `PiccoloCRUD` validators must be standard Python functions. I think it's useful if they can be async too.

Now that Piccolo Admin lets you register validators too, it's more likely that async validators will be needed by users.

[2022-11-15 14:22] #202 closed

[2022-11-15 14:23] dantownsend opened #204 "Python 3.11 support"
Update setup.py, tests etc.

[2022-11-15 14:33] #204 closed